div {
    border: 1px solid black;
}

body.main {
    display: grid;
    grid-template-columns: 20vw, 100%, 20vw;
    grid-template-rows: 20vh, 100%;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

div.leftBar{
    grid-area: 1 / 1 / 3 / 2;
}
div.rightBar{
    grid-area: 1 / 3 / 3 / 4;
}
div.header{
    min-height: 10vh;
    grid-area: 1 / 2 / 2 / 3;
}
div.mainContent{
    overflow: auto;
    max-height: 85vh;
    grid-area: 2 / 2 / 3 / 3;
}
div.formArea{
    order: 0;
    align-self: center;
    flex: 0 0 auto;
}
div.graphArea{
    order: 1;
    flex: 0 0 auto;
}

div.rowResults{
    flex: auto;
}

div.rowResult{
    grid-template-columns: repeat(15, 1fr);
    justify-content: center;
}
div.rowResult>div{
    grid-area: 1/1/1/1;
}